{% extends 'base.html.twig' %}

{% block title %}Training toevoegen{% endblock %}

{% block body %}
    <div class="container mx-auto py-5 px-0 md:px-44">

        <div class="container mx-auto h-100 flex-1 flex items-center justify-center py-5 gap-10">
    <div class="border-2 p-8 pt-10 pb-20 flex items-center flex-col">
        <h1 class="text-4xl font-semibold mb-7">Voeg een training toe</h1>

        {{ form_start(form) }}
        <div class="flex flex-col gap-5">
            {{ form_row(form.Trainings) }}
            {{ form_row(form.date) }}
            {{ form_row(form.max_users) }}
            {{ form_row(form.duration) }}

        </div>

        <button type="submit" class="btn bg-green-600 text-white w-full py-2 mt-10" style="
        box-shadow: 0px 3px 3px rgba(0,0,0,0.2);">Toevoegen</button>
        {{ form_end(form) }}
    </div>
</div>

    </div>
{% endblock %}
