{% extends 'base.html.twig' %}

{% block title %}Trainings lessen{% endblock %}

{% block body %}
<div class="container mx-auto h-100 flex-1 py-5 px-0 md:px-44">
    <div class="flex flex-col">
        <h1 class="text-4xl font-semibold">{{ class.name }}</h1>
        <p class="mt-3 text-neutral-500">{{ class.training.name }}</p>
        <p>{{ class.description }}</p>
        <br>
        <p>
            Datum: {{ class.date }}<br>Schrijf je nu in!<br><br>
            <a class="bg-green-600 text-white py-2 px-5" href="{{ path('app_enroll', {'id': class.id, 'userid': app.user.id}) }}">Inschrijven</a>
        </p>
    </div>
</div>
{% endblock %}
