{% extends 'base.html.twig' %}

{% block title %}Trainings lessen{% endblock %}

{% block body %}
<div class="container mx-auto h-100 flex-1 py-5 px-0 md:px-44">
    <div class="flex flex-col">
        <h1 class="text-4xl font-semibold">Lesoverzicht</h1>
        <p class="mt-3 text-neutral-500">Bekijk de beschikbare lessen.</p>
        {% for class in classes %}
        <div class="flex flex-row justify-between items-center py-5 border-b-2">
            <div class="flex flex-row items-center gap-3">
                <img class="h-44" src="{{ asset('/img/'~class.training.image) }}" alt="{{ class.training.name }}">
                <div class="">
                    <p class="text-2xl">{{ class.name }}</p>
                    <p class="text-sm font-thin">Datum: <span>{{ class.date }}</span> | Training: <span>{{ class.training.name }}</span></p>
                    <p class="font-semibold">{{ class.description }}</p>
                </div>
            </div>
            <a class="bg-gray-600 text-white py-2 px-5" href="#">Bekijk les</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
